WEAVERBIRD_DOMAIN=api.weaverbird.local

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=weaverbird
POSTGRES_PASSWORD=weaverbird_dev
POSTGRES_SSL_MODE=disable

SPICEDB_HOST=spicedb
SPICEDB_PORT=50051
SPICEDB_GRPC_PRESHARED_KEY=weaverbird_dev_key

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=weaverbird
RABBITMQ_PASSWORD=weaverbird_dev
RABBITMQ_VHOST=weaverbird

REDIS_HOST=redis
REDIS_PORT=6379

VAULT_ADDR=http://vault:8200
VAULT_DEV_ROOT_TOKEN_ID=weaverbird_dev_token

REBAC_DATABASE=rebac
AUDIT_DATABASE=audit
NOTIFICATION_DATABASE=notification
CREDENTIAL_DATABASE=credential
AUTH_DATABASE=weaverbird_auth
STORAGE_DATABASE=weaverbird

NOTIFICATION_SMTP_HOST=mailpit
NOTIFICATION_SMTP_PORT=1025
NOTIFICATION_SMTP_USER=
NOTIFICATION_SMTP_PASSWORD=
NOTIFICATION_SMTP_FROM=WeaverBird <notifications@weaverbird.io>
NOTIFICATION_SMTP_TLS=false
NOTIFICATION_PLATFORM_NAME=WeaverBird

SEAWEEDFS_ACCESS_KEY=weaverbird_access_key
SEAWEEDFS_SECRET_KEY=weaverbird_secret_key
SEAWEEDFS_BUCKET=weaverbird

AUTH_JWT_PRIVATE_KEY=
AUTH_JWT_PUBLIC_KEY=
AUTH_JWT_ACCESS_TOKEN_TTL=15m
AUTH_JWT_REFRESH_TOKEN_TTL=168h

AUTH_FRONTEND_API_URL=http://nginx:80/api
AUTH_FRONTEND_GATEWAY_URL=http://nginx:80
