POSTGRES_USER=weaverbird
POSTGRES_PASSWORD=weaverbird_dev
POSTGRES_DB=weaverbird

SPICEDB_GRPC_PRESHARED_KEY=weaverbird_dev_key

RABBITMQ_USER=weaverbird
RABBITMQ_PASSWORD=weaverbird_dev
RABBITMQ_VHOST=weaverbird

VAULT_DEV_ROOT_TOKEN_ID=weaverbird_dev_token
